/* Block */
.calendar__month {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	background: white;
	border: 1px solid #444cdb;
}

.calendar__headerMonth {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 33px;
	color: white;
	background-color: #444cdb;
}

.calendar__headerWeek {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 44px;
}

/* Elements */
.calendar__month .calendar__week {
	display: flex;
	height: 44px;
}

.calendar__day {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	height: 100%;
	cursor: default;
}

.calendar__dayOff {
	color: #c2c2c2;
	cursor: default;
}

.calendar__headerWeek .week {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	height: 100%;
}

.calendar__advanceMonthBtn {
	color: white;
	margin: 0 10px 0 auto;
	background-color: transparent;
	border: 0;
	font-size: 16px;
	font-weight: 600;
}

.calendar__retreatMonthBtn {
	color: white;
	margin: 0 auto 0 10px;
	background-color: transparent;
	border: 0;
	font-size: 16px;
	font-weight: 600;
}

/* Effects */
.calendar__day:not(.calendar__dayOff):hover {
	color: white;
	background-color: #444cdb;
	cursor: pointer;
}

.calendar__advanceMonthBtn:hover, .calendar__retreatMonthBtn:hover {
	text-decoration: underline;
	cursor: pointer;
}
